<div class="templates">
    <div class="p-grid">
        <div class="p-col-12">
            <p-card>
                <ng-template pTemplate="header">
                    <h1 style="margin-bottom: 0px;">REST API SPRING BOOT</h1>
                </ng-template>
                <div class="p-grid">
                    <div class="p-col-4 p-offset-4">
                        <button pButton pRipple type="button" label="Cadastrar/Alterar/Listar/Pesquisar/Remover música" style="width: 100%;" routerLink="/musica" class="p-button-outlined"></button>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-4 p-offset-4">
                        <button pButton pRipple type="button" label="Cadastrar/Alterar/Listar/Pesquisar/Remover artista" style="width: 100%;" class="p-button-outlined"></button>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-4 p-offset-4">
                        <button pButton pRipple type="button" label="Cadastrar/Alterar/Listar/Pesquisar/Remover álbuns de um artista" style="width: 100%;" class="p-button-outlined"></button>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</div>
